.container h1 {
    font-family: Yandex Sans;
    font-size: 15;

    transform: translate(17%, 75px);
}

.container img {
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;

    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;

    transform: translateX(0%);

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%

}

.github-button {
    display: inline-block;
    background-color: black;
    padding: 10px;
    border-radius: 50%;

    transform: translate(350px, -45px);
  }
  
  .github-button i {
    color: white;
  }